<div class="wrapper">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <h2 class="mb-0">{{ titulo }}</h2>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                Home
              </li>
              <li class="breadcrumb-item active">{{ titulo }}</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container-fluid">
        <div class="card">
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="codigo">Codigo</label>
                    <input type="number" name="codigo" id="codigo" class="form-control" [(ngModel)]="model.codigo">
                    <div class="alert alert-danger" *ngIf="error && error.codigo">
                      {{ error.codigo }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="model.nombre">
                    <div class="alert alert-danger" *ngIf="error && error.nombre">
                      {{ error.nombre }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" name="descripcion" id="descripcion" class="form-control"
                      [(ngModel)]="model.descripcion">
                    <div class="alert alert-danger" *ngIf="error && error.descripcion">
                      {{ error.descripcion }}
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <select class="form-control" id="departamento" name="departamento" [(ngModel)]="model.departamento">
                      <option value="">Seleccione...</option>
                      <option *ngFor="let departamento of departamentos" [ngValue]="departamento">{{departamento.nombre}}</option>
                    </select>              
                    <div class="alert alert-danger" *ngIf="error && error.estado">
                      {{ error.departamento }}
                    </div>
                  </div>
                </div> 
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="periodoAcademico">Periodo Academico</label>
                    <select class="form-control" id="periodoAcademico" name="periodoAcademico" [(ngModel)]="model.periodoAcademico">
                      <option value="">Seleccione...</option>
                      <option *ngFor="let periodoAcademico of periodosAcademicos" [ngValue]="periodoAcademico">{{periodoAcademico.nombre}}</option>
                    </select>              
                    <div class="alert alert-danger" *ngIf="error && error.estado">
                      {{ error.periodoAcademico }}
                    </div>
                  </div>
                </div>                
              </div>
            </form>
          </div>
          <div class="card-footer">
            <div class="row">
              <button type="button" class="btn btn-primary col-md-1 pr-1" (click)="model.id? modificar(): crear()">
                <i
                  class="fas fa-paper-plane"></i><br />{{ model.id? 'Modificar': 'Guardar' }}
              </button>
              <button class="btn bg-secondary col-md-1" routerLink="/cursos">
                <i class="fas fa-reply"></i><br />Volver
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>